*{
    list-style: none;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    background-color: rgb(233, 235, 235);;
  }

.description{
    background-color: white;
}
.profile{
    height:auto ;
    width: 320px;
    text-align: center;
    margin: 0 auto;
    background-color:rgb(243, 247, 247);
    border-radius: 0 0 5px 5px;
}
.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 25px;
}
.nameUser {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}
.tag{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.location{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;

}
.stats{
    display: flex; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
    justify-content: space-around;
}
.li{

    display: flex;
    flex-direction: column;
}
.label {
    display: block;
    font-size: 20px;
}
.quantity{
    font-size: 20px;
    font-weight: 700;
}