.section{
    display: block;
    text-align: center;
}

.item{
    display: inline-flex;
    align-items: center;
    background-color: #ffff;
    border-radius: 10px;
    margin: 8px;
    width: 250px;
}
.status{
    margin: 20px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.name{
    font-size: 25px;
    margin-left: 20px;
}
.online {
    composes: status;
    background-color: green;
  }
  
  .offline {
    composes: status;
    background-color: red;
  }
